*
!.gitignore

!colors
!colors/**

!fish
!fish/**

!ghostty
!ghostty/**

!hypr
!hypr/**
# User specific config should not be tracked, since it will include machine or environment dependent configuration.
hypr/config/user-config.conf

!scripts
!scripts/**

!swappy
!swappy/**

!swaync
!swaync/**

!waybar
!waybar/**

!wofi/**
!wofi
