* {
  background: transparent;
  color: #d8cab8;
}

#window {
  color: #d8cab8;
  border-color: #d8cab8;
  border-style: solid;
  border-width: 1px;

  /*Linear gradient background instead of standard background, because it makes cleaner border-radius cuts, issa bug :p*/
  background-image: linear-gradient(to bottom, #141216 100%);
  border-radius: 14px;
}
#scroll {
  border-top-style: solid;
  border-width: 1px;
  border-color: #d8cab8;
}
#inner-box {
  padding-top: 12px;
}
#entry {
  border-style: none;
  border-color: #d8cab8;
  color: #d8cab8;
  padding: 6px;
  margin-bottom: 8px;
  margin-left: 12px;
  margin-right: 12;

  border-radius: 12px;
}

#entry:selected {
  background: #27232b;
  color: #d8cab8;
  font-weight: bold;
  outline: none;
}

#input {
  background-color: #141216;
  color: #d8cab8;
  border-color: #d8cab8;

  border-style: none;
  border-bottom-style: solid;
  border-width: 1px;

  font-style: normal;

  border-radius: 8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  padding: 12px;
  margin: 8px;
}
#input:focus {
  background: #27232b;
  background-color: #27232b;
  border-color: #ac82e9;
  font-style: italic;
}

#img {
  padding: 4px;
  margin-right: 6px;
}

/*style_8*/
/**
* {
    font-size: 14px;
    border: none;
}

#window {
    background-color: transparent;
}

#outer-box {
    background-color: rgba(36, 40, 59, 0.9);
    border: 1px solid #e0af68; 
    border-radius: 12px;
    margin: 10px;
    padding: 15px;
}

#input {
    background-color: rgba(26, 27, 38, 0.7);
    color: #c0caf5;
    padding: 8px 12px;
    margin-bottom: 10px;
    border-radius: 8px;
}

#input:focus {
    box-shadow: 0 0 0 1px #e0af68;
}

#scroll {
    margin-top: 5px;
}

#entry {
    padding: 8px;
    border-radius: 8px;
    color: #c0caf5;
    background-color: transparent;
}

#entry:selected {
    border: 1px solid #e0af68; 
    background-color: rgba(65, 72, 104, 0.9); 
}

#text:selected {
    color: #ffffff;            
}

#text {
    padding: 0px 5px;
}
**/
